@model Contact

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Header -->
        <div class="col-md-12">
            <div class="card-header bg-secondary bg-gradient ml-0 py-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Feedback</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-12">
            <div class="card shadow border-0 my-4">
                <div class="card-body p-4">
                    <!-- Overview Section -->
                    <div class="mb-3">
                        <h3>Customer Feedback</h3>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Name</label>
                                    <h6>@Model.Name</h6>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Email</label>
                                    <h6>@Model.Email</h6>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Phone Number</label>
                                    <h6>@Model.Phone</h6>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <label class="form-label" style="font-weight: bold">Subject</label>
                                    <p>@Model.Subject</p>
                                </div>
                                <div class="col-md-12 my-4">
                                    <label class="form-label" style="font-weight: bold">Feedback</label>
                                    <p>@Model.Feedback</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <!-- Form Section -->
                    <div>
                        <div class="mb-3">
                            <h3 class="mb-5">Reply</h3>
                        </div>
                        <form class="row" asp-area="Admin" asp-controller="Feedback" asp-action="Reply" method="post">
                            <div asp-validation-summary="All" class="text-danger mb-3"></div>
                            <input asp-for="@Model.Id" hidden />
                            <input asp-for="@Model.Name" hidden />
                            <input asp-for="@Model.Email" hidden />
                            <input asp-for="@Model.Phone" hidden />
                            <input asp-for="@Model.Subject" hidden />
                            <input asp-for="@Model.Feedback" hidden />
                            <div class="form-floating mb-3">
                                <textarea class="form-control" asp-for="Reply" required></textarea>
                                <label asp-for="Reply"></label>
                            </div>

                            <div class="row pt-2">
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-primary form-control">Send Reply</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-area="Admin" asp-controller="Feedback" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
